*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width:100%;
}

h1{
    padding: 20px;
}

.container{
    background-color: rgb(218, 230, 241);
    width:450px;
    height: 450px auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#list{
    width:95%;
    height: 40px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    padding: 10px; 
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.output{
    width:500px;
    height:50px;
    border: 0px solid red;
    
    
}

input[type=text]{
    width: 60%;
    height:40px;
    font-size: 20px;
    border: none;
    padding: 10px;
    outline: none;
}

#add{
    width:20%;
    height:40px;
}

button{
    font-size: 18px;
    border: none;
}

 @media (max-width:768px){
     .main{
         width:100%;
         display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

